<!DOCTYPE html>
<!-- beautify ignore:start -->
<html
        lang="en"
        class="light-style layout-menu-fixed"
        dir="ltr"
        data-theme="theme-default"
        data-assets-path="/backend/"
        data-template="vertical-menu-template-free"
        xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title>Hospital Management</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/backend/img/favicon/favicon.ico" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
            rel="stylesheet"
    />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="/backend/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="/backend/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="/backend/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="/backend/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="/backend/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <!-- Page CSS -->

    <!-- Helpers -->
    <script src="/backend/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="/backend/js/config.js"></script>
</head>

<body>
<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <!-- Menu -->

        <aside  th:replace="fragment/menu"></aside>

        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
            <nav th:replace="fragment/navbar"></nav>

            <!-- Content wrapper -->
            <div class="content-wrapper">
                <!-- Content -->

                <div class="container-xxl flex-grow-1 container-p-y">
                    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Tables /</span> Consultations</h4>

                    <hr class="my-5" />

                    <!-- Striped Rows -->
                    <div class="card">
                        <h5 class="card-header">Liste des Consultations</h5>
                        <div class="table-responsive text-nowrap">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Prix</th>
                                    <th scope="col">date de consulattion</th>
                                    <th scope="col">Numero de rendez-vous</th>
                                    <th scope="col">Facture</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each= "m:${listConsultation}">
                                    <td th:text="${m.id}"></td>
                                    <td th:text="${m.prix}"></td>
                                    <td th:text="${m.rendezVous.date}"></td>
                                    <td th:text="${m.rendezVous.id}"></td>
                                    <td sec:authorize="hasAuthority('ADMIN')">
                                        <a th:href="@{/user/mafacture(id=${m.id})}">Voir Facture</a>
                                    </td>
                                    <td sec:authorize="hasAuthority('ADMIN')">
                                        <div class="dropdown">
                                            <button
                                                    type="button"
                                                    class="btn btn-primary btn-icon rounded-pill dropdown-toggle hide-arrow"
                                                    data-bs-toggle="dropdown"
                                                    aria-expanded="false"
                                            >
                                                <i class="bx bx-dots-vertical-rounded"></i>
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#rapportModal" data-rapport-th="${m.rapport}">
                                                    <i class="bx bx-edit-alt me-1"></i> Afficher le Rapport
                                                </a>
                                                <a class="dropdown-item" th:href="@{/admin/EditConsultation(id=${m.id},keyword=${keyword},page=${currentPage})}"
                                                ><i class="bx bx-edit-alt me-1"></i> Edit</a
                                                >
                                                <a onclick="return confirm('Etes vous sur ? ')" class="dropdown-item" th:href="@{/admin/deleteConsultation(id=${m.id},keyword=${keyword} ,page=${currentPage})}"
                                                ><i class="bx bx-trash me-1"></i> Delete</a
                                                >
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <br>
                            <nav aria-label="Page navigation">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item prev">
                                        <a class="page-link" href="javascript:void(0);"><i class="tf-icon bx bx-chevrons-left"></i></a>
                                    </li>
                                    <li th:each="page, status:${pages}" class="page-item">
                                        <a th:class="${status.index==currentPage}? 'page-link active' : 'page-link'"
                                           th:href="@{/user/consultations(page=${status.index}, keyword=${keyword})}"
                                           th:text="${status.index + 1}"
                                           th:style="${status.index==currentPage}? 'background-color: #696cff; border-color: #696cff; color: #fff;' : ''">
                                        </a>
                                    </li>
                                    <li class="page-item next">
                                        <a class="page-link" href="javascript:void(0);"><i class="tf-icon bx bx-chevrons-right"></i></a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="content-backdrop fade"></div>
            </div>
        </div>
    </div>
    <div class="layout-overlay layout-menu-toggle"></div>
</div>
<!-- / Layout wrapper -->



<!-- Core JS -->
<!-- build:js assets/vendor/js/core.js -->
<script src="/backend/vendor/libs/jquery/jquery.js"></script>
<script src="/backend/vendor/libs/popper/popper.js"></script>
<script src="/backend/vendor/js/bootstrap.js"></script>
<script src="/backend/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

<script src="/backend/vendor/js/menu.js"></script>
<!-- endbuild -->

<!-- Vendors JS -->

<!-- Main JS -->
<script src="/backend/js/main.js"></script>

<!-- Page JS -->

<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
<script>
    function editInvoice(prix) {
        // Code pour éditer la facture en fonction du prix
        alert("Fonctionnalité d'édition de facture à implémenter.");
    }
</script>
<!-- Script pour télécharger la facture -->
<script>
    function downloadInvoice(prix) {
        // Générer le contenu de la facture en fonction du prix
        var contenuFacture = "Contenu de la facture pour un prix de " + prix;
        // Simuler le téléchargement de la facture (par exemple, créer un fichier PDF ou un fichier texte)
        // Dans cet exemple, nous affichons simplement le contenu dans la console à titre d'exemple
        console.log(contenuFacture);
        alert("Facture téléchargée avec succès!");
    }
</script>
</body>
</html>
