<!DOCTYPE html>
<html lang="en" class="light-style layout-menu-fixed" dir="ltr" data-theme="theme-default" data-assets-path="/backend/" data-template="vertical-menu-template-free" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <title>Hospital Management</title>
    <meta name="description" content="" />
    <link rel="icon" type="image/x-icon" href="/backend/img/favicon/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/backend/vendor/fonts/boxicons.css" />
    <link rel="stylesheet" href="/backend/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="/backend/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="/backend/css/demo.css" />
    <link rel="stylesheet" href="/backend/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <script src="/backend/vendor/js/helpers.js"></script>
    <script src="/backend/js/config.js"></script>
</head>

<body>
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <aside th:replace="fragment/menu"></aside>
        <div class="layout-page">
            <nav th:replace="fragment/navbar"></nav>
            <div class="content-wrapper">
                <div class="container-xxl flex-grow-1 container-p-y">
                    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Tables /</span> Ajouter Patient</h4>
                    <hr class="my-5" />
                    <div class="card">
                        <div class="col-md-6 offset-3">
                            <form method="post" th:action="@{/admin/save(page=${page},keyword=${keyword})}">
                                <table class="table">
                                    <br>
                                    <div>
                                        <label for="nom">Nom Complet :</label>
                                        <input id="nom" class="form-control" type="text" name="nom" th:value="${patient.nom}">
                                        <span class="text-danger" th:errors="${patient.nom}"></span>
                                    </div><br>
                                    <div>
                                        <label>Date de naissance :</label>
                                        <input class="form-control" type="date" name="dateNaissance" th:value="${patient.dateNaissance}">
                                        <span class="text-danger" th:errors="${patient.dateNaissance}"></span>
                                    </div><br>
                                    <div>
                                        <label>Adresse :</label>
                                        <input class="form-control" type="text" name="adresse" th:value="${patient.adresse}">
                                        <span class="text-danger" th:errors="${patient.adresse}"></span>
                                    </div><br>
                                    <div>
                                        <label>Num :</label>
                                        <input class="form-control" type="number" name="numeroTelephone" th:value="${patient.numeroTelephone}">
                                        <span class="text-danger" th:errors="${patient.numeroTelephone}"></span>
                                    </div><br>
                                    <div>
                                        <label>Rapport :</label>
                                        <input class="form-control" type="text" name="rapport" th:value="${patient.rapport}">
                                        <span class="text-danger" th:errors="${patient.rapport}"></span>
                                    </div><br>
                                    <div>
                                        <label>Malade</label>
                                        <input type="checkbox" name="malade" th:checked="${patient.malade} == true">
                                        <span class="text-danger" th:errors="${patient.malade}"></span>
                                    </div><br>
                                    <div style="text-align: center;">
                                        <button type="submit" class="btn btn-primary" style="margin-right: 10px;">Enregister</button>
                                        <button type="button" class="btn btn-outline-secondary" onclick="window.history.back();" style="margin-right: 10px;">Annuler</button>
                                    </div>
                                </table>
                                <br>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-backdrop fade"></div>
</div>
<div class="layout-overlay layout-menu-toggle"></div>
<script src="/backend/vendor/libs/jquery/jquery.js"></script>
<script src="/backend/vendor/libs/popper/popper.js"></script>
<script src="/backend/vendor/js/bootstrap.js"></script>
<script src="/backend/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="/backend/vendor/js/menu.js"></script>
<script src="/backend/js/main.js"></script>
<script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
</html>
