<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="template">
<head>
    <meta charset="UTF-8">
    <title>Liste des Patients</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">

</head>
<body style="background-img:url('https://previews.123rf.com/images/winnievinzence/winnievinzence1704/winnievinzence170400030/83322843-hospital-blur-background.jpg'); background-size:cover">

<div layout:fragment="content1">

<div class=" container mt-2 " >
    <div class="card">
        <div class="card-header text-center" >LISTE DES PATIENTS</div>
        <div class="card-body">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <form class="form-inline" method="get" th:action="@{/user/patients}" style="margin-bottom:15px">
                            <div class="input-group rounded">
                                <input type="search" name="keyword" th:value="${keyword}" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                    </span>
                                <button type="submit" class="btn btn-primary" data-mdb-ripple-init>
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


            <table class="table table-hover" >
    <thead>
    <tr >
        <th scope="col">Id</th>
        <th scope="col">Nom</th>
        <th scope="col">Malade</th>
        <th sec:authorize="hasAuthority('ADMIN')">Supprimer</th>
        <th sec:authorize="hasAuthority('ADMIN')">Modifier</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each= "p:${listpatients}">
        <td th:text="${p.id}"></td>
        <td th:text="${p.nom}"></td>
        <td th:text="${patientService.isMalade(p.malade)}"></td>
        <td sec:authorize="hasAuthority('ADMIN')">
            <a onclick="return confirm('Etes vous sur ? ')" class="btn btn-danger" th:href="@{/admin/delete(id=${p.id},keyword=${keyword} ,page=${currentPage})}">
                Supprimer
            </a>
        </td>
        <td sec:authorize="hasAuthority('ADMIN')">
            <a  class="btn btn-success"  th:href="@{/admin/EditPatient(id=${p.id},keyword=${keyword},page=${currentPage})}">
                Modifier
            </a>
        </td>
    </tr>

    </tbody>
</table>
            <ul class=" nav nav-pills">
                <li th:each="page, status:${pages}">
                    <a th:class="${status.index==currentPage}? 'btn btn-primary ms-1' : 'btn btn-outline-primary ms-1' "
                       th:href="@{/user/patients(page=${status.index}, keyword=${keyword})}"
                       th:text="${status.index}"></a>
                </li>

            </ul>


        </div>

    </div>
</div>
</div>

</body>
</html>